@font-face {
    font-family: ProbaPro;
    src: url(assets/fonts/ProbaPro-Bold.otf);
    src: url(assets/fonts/ProbaPro-Medium.otf);
    src: url(assets/fonts/ProbaPro-Regular.otf);
}

body {
    font-family: 'Proba Pro', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.header__logo {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-shadow: var(--tshadow);
    text-transform: uppercase;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    padding: 0;
}

:root {
    --tshadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    --blue: #0057B8;
    --bg-main: rgba(0, 87, 184, 0.05);
}

.btn {
    background-color: var(--blue);
    border-radius: 5px;
    font-size: 1.375rem;
    color: #FFFFFF;
    font-weight: bold;
}

.style_h1 {
    font-size: 3.25rem;
    font-weight: bold;
}

/* DETAILS OF TRAVEL */

.content__line {
    display: flex;
    justify-content: space-between;
}

.bg__body {
    background:var(--bg-main)
}

.bg_blue {
    background: radial-gradient(50% 14639.51% at 50% 50%, #0057B8 0%, #00399A 100%);
}

.nav__item_bg {
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(4px);
    border-radius: 3px;
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.dot {
    padding: 15px 8px;
}

.box__back {
    background: rgba(35, 116, 240, 0.09);
    border-radius: 5px;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box__back p {
    font-size: 1.125rem;
    color: rgba(0, 87, 184, 1);
}

.container__min {
    max-width: 34.875rem;
    margin: 0 auto;
}


.box_time {
    display: flex;
}

.box_time time {
    color: rgba(92, 97, 101, 1);
    font-weight: 400;
    font-size: 1.375rem;
}

.box_gray {
    color: rgba(92, 97, 101, 1);
    font-weight: 400;
    font-size: 1.375rem;
}

.box_details {
    font-weight: 400;
    font-size: 1.375rem;
}

.travel__img {
    background: rgba(0, 87, 184, 0.05);
    border-radius: 17px;
    width: 69.74px;
    height: 67px;
}
