.accordion-item{
    margin-bottom: 20px;
    color: inherit;
}
.accordion-button {
    box-shadow:none;
}
.accordion-button:focus {
    box-shadow:none;
}
.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: var(--bs-white);
    box-shadow:none;
}
.acc-title{
    color: var(--bs-gray-600);
}

.acc-leybl{
    color: var(--blue);
}

.chat{
    width: 50px;
    height: 50px;
    background: var(--mainbg);
    backdrop-filter: blur(4px);
    border-radius: 17px;
}
.chat-icon{
    width: 40px;
    height: 40px;
    fill: var(--blue);
}
.badge{
    width: 150px;
    border-radius: 10px;
}
.add-badge{
    border: 3px solid var(--blue);
    color: var(--blue);
}
.bg-primary{
    background-color: var(--blue)!important;
}




