@font-face {
    font-family: ProbaPro;
    src: url(../fonts/ProbaPro-Bold.otf);
    src: url(../fonts/ProbaPro-Medium.otf);
    src: url(../fonts/ProbaPro-Regular.otf);
}

body {
    font-family: 'Proba Pro', sans-serif;
    font-size: 16px;
}

.my {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

:root {
    --tshadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    --blue: #0057B8;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

input {
    color: var(--black);
    font-size: var(--font-18px);
    border: 0;
    background: none;
    font-family: 'Proba Pro', sans-serif;
}

::placeholder {
    color: inherit;
}

input:focus {
    outline: none;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}



.header__logo {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-shadow: var(--tshadow);
    text-transform: uppercase;
}

.btn-icon{
    display: flex;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 46.875rem;
    background: url(../img/flag.png);
    background-size: cover;
}

.title__header {
    font-size: 4.125rem;
    font-weight: bold;
    text-shadow: var(--tshadow);
}

.title__content {
    font-size: 1.5rem;
    font-weight: medium;
    text-shadow: var(--tshadow);
}

.main__content {
    background: rgba(0, 87, 184, 0.05);
}

.mbb {
    border-bottom: 1px solid rgba(46, 44, 44, 0.1);
}

.box {
    padding-top: 80px;
    padding-bottom: 40px;
}

.box_btm {
    padding-bottom: 80px;
}

.form {
    border: 1px solid rgba(0, 87, 184, 1) !important;
    display: flex;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-right: 1rem;
    width: 100%;
}

.form:last-child {
    margin-right: 0;
}

.mb {
    padding-bottom: 90px;
}

.inp {
    max-width: 362px;
    height: 60px;
    width: 100%;
    font-size: 1.125rem;
}

.input__control {
    max-width: 362px;
    height: 60px;
}

.btn {
    background-color: var(--blue);
    border-radius: 5px;
    font-size: 1.375rem;
    color: #FFFFFF;
    font-weight: bold;
}

.style_h1 {
    font-size: 3.25rem;
    font-weight: bold;
}

.card-body {
    font-size: 1.375rem;
}

.img_arrow {
    display: inline;
}

.fifty {
    width: 50%;
}

.ms {
    margin-left: 7.375rem;
}

.fal {
    font-size: 1.375rem;
    line-height: 1.5rem;
}

.style_form {
    font-size: 1.8rem;
}

.bg_blue {
    background: radial-gradient(50% 14639.51% at 50% 50%, #0057B8 0%, #00399A 100%);
}