@font-face {
    font-family: ProbaPro;
    src: url(../fonts/ProbaPro-Bold.otf);
    src: url(../fonts/ProbaPro-Medium.otf);
    src: url(../fonts/ProbaPro-Regular.otf);
}
body {
    font-family: 'Proba Pro', sans-serif;
    font-size: 16px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.header__button {
    min-height: 35px;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(4px);
    border-radius: 3px;
}

.header__avatar {
    position: relative;
    width: 35px;
    height: 35px;
}

.upper-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #e92d2d;
}

.upper-dot_number {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 3px;
    min-height: 7px;
    border-radius: 3px;
    color: #fff;
    font-size: 6px;
    background: #e92d2d;
}

.header__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown__profile {
    /* display: none; */
    position: absolute;
    top: 46px;
    right: 5px;
}
.dropdown__profile .dropdown__item {
    position: relative;
    padding: 15px 0 15px 25px;
    display: flex;
    width: 220px;
    height: 51px;
    background: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.dropdown__profile .dropdown__item:hover {
    background: rgb(207, 207, 207);
}
.dropdown__profile_advance {
    display: none;
    position: absolute;
    top: 46px;
    right: 5px;
    padding: 22px 15px;
    width: 254px;
    min-height: 400px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.18);
}
.dropdown__profile_advance .dropdown__item {
    padding: 15px 0 15px 25px;
    margin: 3px 0;
    display: flex;
    align-items: center;
    width: 220px;
    height: 51px;
    background: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.dropdown__profile_advance .dropdown__item:hover {
    background: rgba(0, 87, 184, 0.05);
}
.underline {
    width: 100%;
    height: 1px;
    margin: 25px 0;
    background: rgba(0, 87, 184, 0.21);
}

.my {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

:root {
    --tshadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    --blue: #0057b8;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

input {
    color: var(--black);
    font-size: var(--font-18px);
    border: 0;
    background: none;
    font-family: 'Proba Pro', sans-serif;
}

::placeholder {
    color: inherit;
}

input:focus {
    outline: none;
}

.header__logo {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: var(--tshadow);
    text-transform: uppercase;
}

.header__number {
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: var(--tshadow);
}

.header__mail {
    text-shadow: var(--tshadow);
}

.intro {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 46.875rem;
    background: url(../img/flag.png);
    background-size: cover;
}

.title__header {
    font-size: 4.125rem;
    font-weight: bold;
    text-shadow: var(--tshadow);
}

.title__content {
    font-size: 1.5rem;
    font-weight: medium;
    text-shadow: var(--tshadow);
}

.main__content {
    background: rgba(0, 87, 184, 0.05);
}

.mbb {
    border-bottom: 1px solid rgba(46, 44, 44, 0.1);
}

.box {
    padding-top: 80px;
    padding-bottom: 40px;
}

.box_btm {
    padding-bottom: 80px;
}

.form {
    border: 1px solid rgba(0, 87, 184, 1) !important;
    display: flex;
    border-radius: 5px;
    background-color: #ffffff;
    margin-right: 1rem;
    width: 100%;
}

.form:last-child {
    margin-right: 0;
}

.mb {
    padding-bottom: 90px;
}

.inp {
    max-width: 362px;
    height: 60px;
    width: 100%;
    font-size: 1.125rem;
}

.input__control {
    max-width: 362px;
    height: 60px;
}

.btn {
    background-color: var(--blue);
    border-radius: 5px;
    font-size: 1.375rem;
    color: #ffffff;
    font-weight: bold;
}

.style_h1 {
    font-size: 3.25rem;
    font-weight: bold;
}

.card-body {
    font-size: 1.375rem;
}

.img_arrow {
    display: inline;
}

.fifty {
    width: 50%;
}

.ms {
    margin-left: 7.375rem;
}

.fal {
    font-size: 1.375rem;
    line-height: 1.5rem;
}

.style_form {
    font-size: 1.8rem;
}

.bg_blue {
    background: radial-gradient(
        50% 14639.51% at 50% 50%,
        #0057b8 0%,
        #00399a 100%
    );
}

/* media rules */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .header__logo {
        font-size: 18px;
    }
    .title__header {
        font-size: 2.5rem;
    }
    .style_h1 {
        font-size: 2.5rem;
    }
    .footer .footer__wrapper {
        flex-direction: column;
    }
    .footer .footer__wrapper a {
        margin-top: 1rem;
    }
    .footer .footer__wrapper a:first-child p {
        margin: 0 !important;
    }
    .footer .footer__wrapper a:first-child {
        order: 2;
    }
    .footer .footer__wrapper img {
        order: 1;
    }
    .footer .footer__wrapper .footer__info {
        order: 3;
    }
    .footer .footer__descr p:first-child {
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}
