@font-face {
  /*font-family: ProbaPro;*/
  /*src: url(../fonts/ProbaPro-Bold.otf);*/
  /*src: url(../fonts/ProbaPro-Medium.otf);*/
  /*src: url(../fonts/ProbaPro-Regular.otf);*/
}
body {
  font-family: 'Proba Pro', sans-serif;
  font-size: 1rem;
}

:root {
  --tshadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  --blue: rgb(0, 87, 184,1);
  --btnbg:rgba(255, 255, 255, 0.07);
  --mainbg:rgba(0, 87, 184, 0.05);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--bs-white);
}

a:hover {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

input {
  color: var(--black);
  font-size: var(--font-18px);
  border: 0;
  background: none;
  font-family: 'Proba Pro', sans-serif;
}

::placeholder {
  color: inherit;
}

input:focus {
  outline: none;
}

/*.main__content {*/
/*  background: rgba(0, 87, 184, 0.05);*/
/*}*/

/*.mbb {*/
/*  border-bottom: 1px solid rgba(46, 44, 44, 0.1);*/
/*}*/

/*.box {*/
/*  padding-top: 80px;*/
/*  padding-bottom: 40px;*/
/*}*/

/*.box_btm {*/
/*  padding-bottom: 80px;*/
/*}*/

/*.form {*/
/*  border: 1px solid var(--blue) !important;*/
/*  display: flex;*/
/*  border-radius: 5px;*/
/*  background-color: var(--bs-white);*/
/*  margin-right: 1rem;*/
/*  width: 100%;*/
/*}*/

/*.form:last-child {*/
/*  margin-right: 0;*/
/*}*/

/*.mb {*/
/*  padding-bottom: 90px;*/
/*}*/

/*.inp {*/
/*  max-width: 362px;*/
/*  height: 60px;*/
/*  width: 100%;*/
/*  font-size: 1.125rem;*/
/*}*/

/*.input__control {*/
/*  max-width: 362px;*/
/*  height: 60px;*/
/*}*/

/*.btn_big {*/
/*  border-radius: 5px;*/
/*  font-size: 1.375rem;*/
/*  font-weight: bold;*/
/*}*/

/*.btn {*/
/*  border-radius: 5px;*/
/*  font-size: 1.25rem;*/
/*}*/

/*.btn-primary {*/
/*  background-color: var(--blue);*/
/*  color: var(--bs-white);*/
/*}*/

/*.btn-outline-primary{*/
/*  border-color:var(--blue);*/
/*  color: var(--blue);*/
/*}*/
/*.btn-outline-primary:hover {*/
/*  background-color: var(--blue);*/
/*  border-color:var(--blue);*/
/*}*/

/*.style_h1 {*/
/*  font-size: 3.25rem;*/
/*  font-weight: bold;*/
/*}*/

/*.card-body {*/
/*  font-size: 1.2rem;*/
/*}*/

/*.img_arrow {*/
/*  display: inline;*/
/*}*/

/*.fifty {*/
/*  width: 50%;*/
/*}*/

/*.ms {*/
/*  margin-left: 7.375rem;*/
/*}*/


/*.fal {*/
/*  font-size: 1.375rem;*/
/*  line-height: 1.5rem;*/
/*}*/

/*.style_form {*/
/*  font-size: 1.8rem;*/
/*}*/

/*.bg_blue {*/
/*  background: radial-gradient(*/
/*          50% 14639.51% at 50% 50%,*/
/*          rgb(0, 87, 184) 0%,*/
/*          rgb(0, 57, 154) 100%*/
/*  );*/
/*}*/
/*.copyright{*/
/*  margin-top: 15px;*/
/*  text-align: center;*/
/*  font-size: 13px;*/
/*  color: rgb(170, 170, 170);*/
/*  margin-bottom: 0;*/
/*}*/

/*@font-face {*/
/*  font-family: ProbaPro;*/
/*  !*src: url(/fonts/ProbaPro-Bold.otf);*!*/
/*  !*src: url(/fonts/ProbaPro-Medium.otf);*!*/
/*  !*src: url(/fonts/ProbaPro-Regular.otf);*!*/
/*}*/

/*body {*/
/*  font-family: 'Proba Pro', sans-serif;*/
/*  font-size: 16px;*/
/*}*/

/*.header {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  z-index: 100;*/
/*  width: 100%;*/
/*}*/

/*.my {*/
/*  border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
/*}*/

/*:root {*/
/*  --tshadow: 0px 1px 2px rgba(0, 0, 0, 0.5);*/
/*  --blue: #0057B8;*/
/*}*/

/*button {*/
/*  border: none;*/
/*  background: none;*/
/*  cursor: pointer;*/
/*  font-family: inherit;*/
/*  color: inherit;*/
/*  padding: 0;*/
/*}*/

/*a {*/
/*  text-decoration: none;*/
/*  color: #FFFFFF;*/
/*}*/

/*a:hover {*/
/*  color: white;*/
/*}*/

/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6,*/
/*p {*/
/*  margin: 0;*/
/*}*/

/*img {*/
/*  display: block;*/
/*}*/

/*input {*/
/*  color: var(--black);*/
/*  font-size: var(--font-18px) ;*/
/*  border: 0;*/
/*  background: none;*/
/*  font-family: 'Proba Pro', sans-serif;*/
/*}*/

/*::placeholder {*/
/*  color: inherit;*/
/*}*/

/*input:focus {*/
/*  outline: none;*/
/*}*/

/*.header__logo {*/
/*  font-style: normal;*/
/*  font-weight: bold;*/
/*  font-size: 1.5rem;*/
/*  color: #FFFFFF;*/
/*  text-shadow: var(--tshadow);*/
/*  text-transform: uppercase;*/
/*}*/

/*.header__number {*/
/*  font-size: 1.25rem;*/
/*  font-weight: bold;*/
/*  text-shadow: var(--tshadow);*/
/*}*/

/*.header__mail {*/
/*  text-shadow: var(--tshadow);*/
/*}*/

/*.intro {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  flex-direction: column;*/
/*  height: 46.875rem;*/
/*  !*background: url(/img/flag.png);*!*/
/*  background-size: cover;*/
/*}*/

/*.title__header {*/
/*  font-size: 4.125rem;*/
/*  font-weight: bold;*/
/*  text-shadow: var(--tshadow);*/
/*}*/

/*.title__content {*/
/*  font-size: 1.5rem;*/
/*  font-weight: medium;*/
/*  text-shadow: var(--tshadow);*/
/*}*/

/*.main__content {*/
/*  background: rgba(0, 87, 184, 0.05);*/
/*}*/

/*.mbb {*/
/*  border-bottom: 1px solid rgba(46, 44, 44, 0.1);*/
/*}*/

/*.box {*/
/*  padding-top: 80px;*/
/*  padding-bottom: 40px;*/
/*}*/

/*.box_btm {*/
/*  padding-bottom: 80px;*/
/*}*/

/*.form {*/
/*  border: 1px solid rgba(0, 87, 184, 1)!important;*/
/*  display: flex;*/
/*  border-radius: 5px;*/
/*  background-color: #FFFFFF;*/
/*  margin-right: 1rem;*/
/*  width: 100%;*/
/*  height: 68px;*/
/*}*/

/*.form:last-child {*/
/*  margin-right: 0;*/
/*}*/

/*.mb {*/
/*  padding-bottom: 90px;*/
/*}*/

/*.inp {*/
/*  max-width: 362px;*/
/*  height: 60px;*/
/*  width: 100%;*/
/*  font-size: 1.125rem;*/
/*}*/

/*.input__control {*/
/*  max-width: 362px;*/
/*  height: 60px;*/
/*}*/

/*.btn {*/
/*  background-color: var(--blue);*/
/*  border-radius: 5px;*/
/*  font-size: 1.375rem;*/
/*  color: #FFFFFF;*/
/*  font-weight: bold;*/
/*}*/

/*.style_h1 {*/
/*  font-size: 3.25rem;*/
/*  font-weight: bold;*/
/*}*/

/*.card-body {*/
/*  font-size: 1.375rem;*/
/*}*/

/*.img_arrow {*/
/*  display: inline;*/
/*}*/

/*.fifty {*/
/*  width: 50%;*/
/*}*/

/*.ms {*/
/*  margin-left: 7.375rem;*/
/*}*/

/*.fal {*/
/*  font-size: 1.375rem;*/
/*  line-height: 1.5rem;*/
/*}*/

/*.style_form {*/
/*  font-size: 1.8rem;*/
/*}*/

/*.bg_blue {*/
/*  background: radial-gradient(50% 14639.51% at 50% 50%, #0057B8 0%, #00399A 100%);*/
/*}*/

/*!*todo rename .puslih-trip class to container*!*/
/*.publish-trip {*/
/*  display: flex;*/
/*  height: 46.875rem;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

/*.publish-trip-header {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  margin-top: 70px;*/
/*}*/


/*.publish-trip-header .nav-btns {*/
/*  background: rgb(223,235,250);*/
/*  border: none;*/
/*  outline: none;*/
/*  color: #0057b8;*/
/*  -webkit-border-radius: 5px;*/
/*  -moz-border-radius: 5px;*/
/*  border-radius: 5px;*/
/*  font-size: 18px;*/
/*  width: 134px;*/
/*  height: 41px;*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*  align-items: center;*/
/*}*/

/*.publish-trip-header .rotate {*/
/*  transform: rotate(180deg);*/
/*}*/

/*.trip-header {*/
/*  margin-top: -131px;*/
/*}*/

/*.stepper {*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*  position: relative;*/
/*  align-items: center;*/
/*}*/


/*.stepper svg {*/
/*  z-index: 5;*/
/*}*/

/*.stepper .progress {*/
/*  position: absolute;*/
/*  border: 1px dashed rgba(0, 87, 184, 0.5);*/
/*  display: block;*/
/*  width: 65%;*/
/*  height: 0;*/
/*}*/

/*.progress-icon {*/
/*  z-index: 5;*/
/*  background: #fff;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  text-align: center;*/
/*  align-items: center;*/
/*  position: relative;*/
/*  border-radius: 50%;*/
/*}*/
/*.progress-icon span {*/
/*  position: absolute;*/
/*  margin-top: 50px;*/
/*  font-size: 16px;*/
/*}*/

/*.active-progress-icon span {*/
/*  color: #000;*/
/*}*/

/*@media only screen and (max-width: 1000px) {*/
/*  .trip-header {*/
/*    margin-top: 0px;*/
/*  }*/
/*}*/

/*!* media rules *!*/

/*!* Small devices (landscape phones, 576px and up) *!*/
/*@media (max-width: 576px) {*/
/*  .header__logo {*/
/*    font-size: 18px;*/
/*  }*/
/*  .title__header {*/
/*    font-size: 2.5rem;*/
/*  }*/
/*  .style_h1 {*/
/*    font-size: 2.5rem;*/
/*  }*/
/*  .footer .footer__wrapper {*/
/*    flex-direction: column;*/
/*  }*/
/*  .footer .footer__wrapper a {*/
/*    margin-top: 1rem;*/
/*  }*/
/*  .footer .footer__wrapper a:first-child p {*/
/*    margin: 0 !important;*/
/*  }*/
/*  .footer .footer__wrapper a:first-child {*/
/*    order: 2;*/
/*  }*/
/*  .footer .footer__wrapper img {*/
/*    order: 1;*/
/*  }*/
/*  .footer .footer__wrapper .footer__info {*/
/*    order: 3;*/
/*  }*/
/*  .footer .footer__descr p:first-child {*/
/*    text-align: center;*/
/*  }*/
/*}*/

/*!* Medium devices (tablets, 768px and up) *!*/
/*@media (max-width: 768px) {*/
/*}*/

/*!* Large devices (desktops, 992px and up) *!*/
/*@media (max-width: 992px) {*/
/*}*/

/*!* X-Large devices (large desktops, 1200px and up) *!*/
/*@media (max-width: 1200px) {*/
/*}*/

/*!* XX-Large devices (larger desktops, 1400px and up) *!*/
/*@media (max-width: 1400px) {*/
/*}*/


